

@media (min-width: 375px) {
 
  .container{
    width: 100%;
    margin: 0px;
    padding: 0;
    position: relative;
    height: 800px;
  }
  
}
@media (min-width: 376px) {
 
  .container{
    width: 100%;
    margin: 0px;
    padding: 0;
    position: relative;
    height: 800px;
  }
  
}
