.homework{
    position: absolute;
    bottom: 1%;
    width: 100%;
} 
.homework div{
    background: hsl(235, 21%, 11%); 
    display: flex;
    justify-content: center;  
    padding: 15px;
    margin: 6%;
    border-radius: 10px;
   
}
.homework p{
    display: flex;
    justify-content: center;  
    color:hsl(234, 11%, 52%);
    padding: 20px;
}
.homework div{
    background: hsl(235, 21%, 11%); 
    display: flex;
    justify-content: center;  
    padding: 15px;
    margin: 6%;
    border-radius: 10px;
   
}

.homework button{
    background: hsl(235, 21%, 11%);   
    margin: 4px 10px;
    border: none;
    color:hsl(234, 11%, 52%);
}
.homework div :nth-child(1){
    color:  hsl(220, 98%, 61%);
}